{% extends "base.html" %}

{% block content %}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Overview</h1>
<!--        <div class="btn-toolbar mb-2 mb-md-0">-->
<!--          <div class="btn-group mr-2">-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--            <span data-feather="calendar"></span>-->
<!--          </button>-->

<!--        </div>-->
      </div>
      <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
        <div id='map' style='width: 100%; height: 380px;'></div>

      <h2>Trips</h2>
<table id="trips" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Tracker</th>

                <th>Origin</th>
                <th>Destination</th>
                <th>Last Check</th>
                <th>Check Time</th>
                <th>Active</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
<!--        <tfoot>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--            </tr>-->
<!--        </tfoot>-->
    </table>



      <h2>Trackers</h2>
<table id="trackers" class="display" style="width:100%">
        <thead>
            <tr>
                <th>DeviceName</th>
                <th>TrackerId</th>
                <th>CreatedDt</th>
<!--                <th>Client</th>-->

            </tr>
        </thead>
        <tbody>
        </tbody>
<!--        <tfoot>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--            </tr>-->
<!--        </tfoot>-->
    </table>






      </div>
{% endblock %}


{% block js %}

var markers = [];
var features = [];

function drawMarkers(features){
  clearMarkers();
  features.forEach((feature) => {
//features is a list of these var dest_ll = new mapboxgl.LngLat(data["dest_lon"], data["dest_lat"]);

    let marker = new mapboxgl.Marker()
      //.setLngLat(feature.geometry.coordinates)
      //.setPopup(new mapboxgl.Popup()
      //.setHTML(`<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`))
      .setLngLat(feature)
      .addTo(map);
    markers.push(marker)
  });
}


function clearMarkers(){
  markers.forEach((marker) => marker.remove());
  markers = [];

 // features.forEach((feature) => feature.remove());
  features = [];
}

// $(<parent>).on('<event>', '<child>', callback);
$(document).on('change', '.trip_checkbox', function() {
    //get all the checked checkboxes, get all of their trip_id
    //pass these into view to get all of the lat,lon. This is features
    //var checked_boxes = [];
    var trip_ids = [];
    $("input:checkbox[class=trip_checkbox]:checked").each(function(){
    //checked_boxes.push($(this).val());
    //console.log($(this).val());
    trip_ids.push($(this).attr("id"));
});


   // if(this.checked) {
      // checkbox is checked

    var trip_id = $(this).attr("id");


    $.post( "{% url 'add_trip_to_map' %}", { trip_id: trip_id, trip_ids: JSON.stringify(trip_ids) }, function( data ) {

    data = JSON.parse(data);

    data.forEach((data_pt) => {

    dest_lon=data_pt["dest_lon"];
    dest_lat=data_pt["dest_lat"];
    var dest_ll = new mapboxgl.LngLat(data_pt["dest_lon"], data_pt["dest_lat"]);

    features.push(dest_ll)
    });

    drawMarkers(features)



});

/*
    } //end if checked
    else {
  //  Somehow remove
    clearMarkers()

}
*/

});

//map stuff
        mapboxgl.accessToken = '{{ mapbox_token }}';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-101.641, 39.366],
          zoom: 3
        });

        {% for key, value in devices.items %}
        var {{key}} = new mapboxgl.Marker()
          .setLngLat([{{ value.CheckPoint_Location.4 }}, {{ value.CheckPoint_Location.3 }}])
          .addTo(map);
        {% endfor %}

// datatables
    var oTable = $('#trackers').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'tracker_list_json' %}"
    });
    // ...

    var oTable2 = $('#trips').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'trip_list_json' %}"
    });
    // ...



{% endblock %}