{% extends "base.html" %}

{% block content %}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Overview</h1>
      </div>


<div id="accordion">
  <h3>Trips</h3>
  <div>
    <p>

        <div id='map' style='width: 100%; height: 380px;'></div>

      <!--<h2>Trips</h2>-->
<table id="trips" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Tracker</th>

                <th>Origin</th>
                <th>Destination</th>
                <th>Last Check</th>
                <th>Check Time</th>
                <th>Active</th>

            </tr>
        </thead>
        <tbody>
        </tbody>


    </table>

    <a href="{% url 'trip' %}" class="btn btn-info" role="button">Add Trip</a>
          </p>
  </div>


  <h3>Trackers</h3>
  <div>
    <p>


      <!--<h2>Trackers</h2>-->
<table id="trackers" class="display" style="width:100%">
        <thead>
            <tr>
                <th>DeviceName</th>
                <th>TrackerId</th>
                <th>CreatedDt</th>


            </tr>
        </thead>
        <tbody>
        </tbody>



    </table>


      <!--https://stackoverflow.com/questions/36003670/how-to-put-a-link-on-a-button-with-bootstrap-->
      <a href="{% url 'tracker' %}" class="btn btn-info" role="button">Add Tracker</a>

          </p>
  </div>
        <!--<h3>Loads</h3>-->
  <!--<div>-->
    <!--<p>-->

    <!--</p>-->
  <!--</div>-->

      </div>  <!-- Accordian -->
{% endblock %}


{% block js %}

var featureData=null;
var endpointData=null;
var fencingData=null;



var endpoints=[];
var fencing=[];


    //COPY THIS FOR GETTING ROUTES
    //https://docs.mapbox.com/help/tutorials/getting-started-directions-api/
    //USE BELOW TO CIRCUMVENT API LIMITATIONS
    //https://docs.mapbox.com/help/demos/how-mapbox-works/how-directions-works.html


function drawFeatures(featureData){

    if (map.getSource('all_routes_geojson_id')) {
      map.getSource('all_routes_geojson_id').setData(featureData);   //setData(geojson);
    console.log('route existed');
    } else {
    console.log('route didnt exist');
     let route_marker = map.addLayer({
        id: 'all_routes_geojson_id',
        type: 'line',
        source: {


          type: 'geojson',
          data: {


            type: 'Feature',
            properties: {},
            geometry: {
              type: 'LineString',
              coordinates: []
            },

          }  //data


        },   //source
        layout: {
          'line-join': 'round',
          'line-cap': 'round'
        },
        paint: {
          'line-color': '#3887be',
          'line-width': 5,
          'line-opacity': 0.75
        }
      });


console.log(featureData);
    map.getSource('all_routes_geojson_id').setData(featureData);   //setData(geojson);



}//end else



}//end function drawFeatures


function drawEndpoints(endpointData){
  clearEndpoints();
  endpointData.forEach((ends) => {

                var dest_ll = new mapboxgl.LngLat(ends["dest_lon"], ends["dest_lat"]);
                var orig_ll = new mapboxgl.LngLat(ends["orig_lon"], ends["orig_lat"]);



    let dmarker = new mapboxgl.Marker()
      .setLngLat(dest_ll)
      .addTo(map);
    endpoints.push(dmarker)

    let omarker = new mapboxgl.Marker()
      .setLngLat(orig_ll)
      .addTo(map);
    endpoints.push(omarker)
  });  // end endpointData foreach

}

function clearEndpoints(){
  endpoints.forEach((marker) => marker.remove());
}



function drawFencing(fencingData){
  clearFencing();
  fencingData.forEach((pt) => {

                var pt_ll = new mapboxgl.LngLat(pt["lon"], pt["lat"]);


    let marker = new mapboxgl.Marker()
      .setLngLat(pt_ll)
      .addTo(map);
    fencing.push(marker)


  });  // end fencingData foreach

}

function clearFencing(){
  fencing.forEach((marker) => marker.remove());
}


$(document).on('change', '.trip_checkbox', function() {
    //get all the checked checkboxes, get all of their trip_id
    //pass these into view to get all of the lat,lon. This is features


    var trip_ids = [];

    $("input:checkbox[class=trip_checkbox]:checked").each(function(){
    trip_ids.push($(this).attr("id"));
});



    var trip_id = $(this).attr("id");  //prob not needed


    $.post( "{% url 'add_trip_to_map2' %}", { trip_id: trip_id, trip_ids: JSON.stringify(trip_ids) }, function( data ) {


    //each element of data list is (start, stop, route_geometry_json
    // route geometry json comes from a GET to mapbox API in Trip model method
    //will try and save/cache this data due to API restrictions

console.log(data);
    data = JSON.parse(data);
console.log(data);


featureData=data['features'];
endpointData=data['endpoints'];

drawFeatures(featureData);
drawEndpoints(endpointData);

});  //end .$post  for getting trip features



    $.post( "{% url 'add_fencing' %}", {  trip_ids: JSON.stringify(trip_ids) }, function( data ) {


    //each element of data list is (start, stop, route_geometry_json
    // route geometry json comes from a GET to mapbox API in Trip model method
    //will try and save/cache this data due to API restrictions

console.log(data);
    data = JSON.parse(data);
console.log(data);

fencingData=data['markers'];

drawFencing(fencingData);

});  //end .$post  for getting fencing modules



}); //end checkbox change

//map stuff
        mapboxgl.accessToken = '{{ mapbox_token }}';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-101.641, 39.366],
          zoom: 3
        });


map.on('load', function(e) {
console.log('MAP LOADED');


});   //end map load


// datatables
    var oTable = $('#trackers').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'tracker_list_json' %}"
    });
    // ...

  /*  var oTable = $('#loads').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{ url 'load_list_json' %}"
    });  */
    // ...

    var oTable2 = $('#trips').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'trip_list_json' %}"
    });
    // ...

$.fn.dataTable.ext.errMode = 'throw';


// Accordian

$( "#accordion" ).accordion();



{% endblock %}