{% extends "base.html" %}

{% block content %}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Overview</h1>
<!--        <div class="btn-toolbar mb-2 mb-md-0">-->
<!--          <div class="btn-group mr-2">-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--            <span data-feather="calendar"></span>-->
<!--          </button>-->

<!--        </div>-->
      </div>
      <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
        <div id='map' style='width: 100%; height: 380px;'></div>

      <h2>Trips</h2>
<table id="trips" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Tracker</th>

                <th>Origin</th>
                <th>Destination</th>
                <th>Last Check</th>
                <th>Check Time</th>
                <th>Active</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
<!--        <tfoot>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--            </tr>-->
<!--        </tfoot>-->
    </table>



      <h2>Trackers</h2>
<table id="trackers" class="display" style="width:100%">
        <thead>
            <tr>
                <th>DeviceName</th>
                <th>TrackerId</th>
                <th>CreatedDt</th>
<!--                <th>Client</th>-->

            </tr>
        </thead>
        <tbody>
        </tbody>
<!--        <tfoot>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--            </tr>-->
<!--        </tfoot>-->
    </table>


      </div>
{% endblock %}


{% block js %}


var markers = [];
var features = [];

var route_markers = [];
var vroutes = [];

function drawMarkers(features){
  clearMarkers();
  features.forEach((feature) => {

    let marker = new mapboxgl.Marker()
      .setLngLat(feature)
      .addTo(map);
    markers.push(marker)
  });  // end features foreach

}






function drawRoutes(){



    //COPY THIS FOR GETTING ROUTES
    //https://docs.mapbox.com/help/tutorials/getting-started-directions-api/
    //USE THIS TO CIRCUMVENT API LIMITATIONS
    //https://docs.mapbox.com/help/demos/how-mapbox-works/how-directions-works.html



//map.addSource('routes', {

var fc = {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [],
}};


//fc.data.features.push();
//console.log(fc.data.features);




//var geojson_elementS = [];  //NEED TO FIGURE THIS OUT
var route=[];//only need to initialize here for debug reasons
vroutes.forEach((_route) => {

var trip_route_data = _route.routes[0];

    //console.log(trip_route_data);
    var route = trip_route_data.geometry.coordinates;
//console.log(route[0]);  route is the list of coordinates of the linesring
//geojson_elementS.push(route);




    var geojson = {
      type: 'Feature',
      properties: {},
      geometry: {
        type: 'LineString',
        coordinates: route
      }
    };  //end geojson

fc.data.features.push(geojson);

}); //end foreach


    if (map.getSource('all_routes_geojson_id')) {
      map.getSource('all_routes_geojson_id').setData(fc.data);   //setData(geojson);
    console.log('route existed');
    } else {
    console.log('route didnt exist');
     let route_marker = map.addLayer({
        id: 'all_routes_geojson_id',
        type: 'line',
        source: {


          type: 'geojson',
          data: {

            type: 'Feature',
            properties: {},
            geometry: {
              type: 'LineString',
              coordinates: []
            }
          }  //data


        },   //source
        layout: {
          'line-join': 'round',
          'line-cap': 'round'
        },
        paint: {
          'line-color': '#3887be',
          'line-width': 5,
          'line-opacity': 0.75
        }
      });


console.log(fc.data);
    map.getSource('all_routes_geojson_id').setData(fc.data);   //setData(geojson);


    //route_markers.push(route_marker);
    }   //end else

//});  //MOVE THE DRAWING OF ROUTES OUTSIDE OF FOREACH//end vroutes _foreach


 clearRoutes();

}


function clearMarkers(){
  markers.forEach((marker) => marker.remove());
  markers = [];

 // features.forEach((feature) => feature.remove());
  features = [];

}

function clearRoutes(){

 vroutes = [];
}


$(document).on('change', '.trip_checkbox', function() {
    //get all the checked checkboxes, get all of their trip_id
    //pass these into view to get all of the lat,lon. This is features


    var trip_ids = [];

    $("input:checkbox[class=trip_checkbox]:checked").each(function(){
    trip_ids.push($(this).attr("id"));
});



    var trip_id = $(this).attr("id");  //prob not needed


    $.post( "{% url 'add_trip_to_map' %}", { trip_id: trip_id, trip_ids: JSON.stringify(trip_ids) }, function( data ) {


    //each element of data list is (start, stop, route_geometry_json
    // route geometry json comes from a GET to mapbox API in Trip model method
    //will try and save/cache this data due to API restrictions
    data = JSON.parse(data);

    data.forEach((data_pt) => {

                dest_lon=data_pt["dest_lon"];
                dest_lat=data_pt["dest_lat"];

                orig_lon=data_pt["orig_lon"];
                orig_lat=data_pt["orig_lat"];


                var dest_ll = new mapboxgl.LngLat(data_pt["dest_lon"], data_pt["dest_lat"]);
                var orig_ll = new mapboxgl.LngLat(data_pt["orig_lon"], data_pt["orig_lat"]);

                features.push(dest_ll)
                features.push(orig_ll)

                //data for one trip, one by one into an array vroutes
                var trip_routes_data=data_pt["trip_routes_data"];
                //console.log(data_pt["trip_routes_data"])

                vroutes.push(trip_routes_data);



    });

    drawMarkers(features)
    drawRoutes(vroutes)



});  //end .$post



}); //end checkbox change

//map stuff
        mapboxgl.accessToken = '{{ mapbox_token }}';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-101.641, 39.366],
          zoom: 3
        });


// datatables
    var oTable = $('#trackers').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'tracker_list_json' %}"
    });
    // ...

    var oTable2 = $('#trips').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'trip_list_json' %}"
    });
    // ...



{% endblock %}