{% extends "base.html" %}

{% block content %}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Loads</h1>



      </div>

        <div id='map' style='width: 100%; height: 380px;'></div>

      <h2>Trips</h2>
<table id="loads" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Tracker</th>

                <th>Origin</th>
                <th>Destination</th>
                <th>Last Check</th>
                <th>Check Time</th>
                <th>Active</th>

            </tr>
        </thead>
        <tbody>
        </tbody>


    </table>



      <h2>Trackers</h2>
<table id="trackers" class="display" style="width:100%">
        <thead>
            <tr>
                <th>DeviceName</th>
                <th>TrackerId</th>
                <th>CreatedDt</th>


            </tr>
        </thead>
        <tbody>
        </tbody>



    </table>


      </div>
{% endblock %}


{% block js %}


// datatables
    var oTable = $('#loads').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'load_list_json' %}"
    });
    // ...





{% endblock %}